# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*
/.vscode/
/.vs/
/Assets/Plugins/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.tmp
*.userprefs
/*.csproj
*.pidb
*.pidb.meta
*.suo
/*.sln
*.user
*.unityproj
*.booproj
sysinfo.txt

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Builds
*.apk
*.unitypackage
